.emojionepicker
{
	position:absolute;
	z-index:1000;
	max-width:100%;
	width:320px;
	height:250px;
	right:10px;
	background-color:#fff;
	display:none;
}

.emojionepicker *
{
	box-sizing:border-box;
}

.emojionepicker nav
{
	position: relative;
	z-index: 0;
	background-color: #f2f2f2;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	text-align:center;
}

.emojionepicker nav div.tab
{
	display: inline-block;
	margin: 0.2em 0.1em 0 0;
	padding: 0.2em ;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	cursor: pointer;
	width:22px;
}

.emojionepicker nav div.tab img
{
	width:100%;
	height:auto;
}

.emojionepicker nav div.tab:hover, .emojionepicker section img:hover
{
	cursor: pointer;
	transform: scale(1.2);
	-ms-transform: scale(1.2);
	-webkit-transform: scale(1.2);
	-moz-transform: scale(1.2);
	-o-transform: scale(1.2);
}

.emojionepicker nav div.tab.active
{
	background-color: #fff;
}

.emojionepicker section
{
	overflow-y: scroll;
	position: relative;
	z-index: 10;
	background: #fff;
	padding: 0.2rem;
	box-sizing: border-box;
	height: 200px;
	display:none;
	text-align:center;
}

.emojionepicker section img
{
	width:1.8em;
	height:1.8em;
	margin:0.2em;
}

.emojionepicker-picker
{
	background-image: url('themes/main/images/smile.svg');
	width: 18px;
	height: 18px;
	position: absolute;
	z-index: 2147483647;
	background-size: 100%;
	cursor:pointer;
}

.emojionepicker-picker:hover
{
	background-image: url('themes/main/images/smile_hover.svg');
}

.emojionepicker-picker:active
{
	opacity: 0.4;
}
