
/**
 * @file
 * CSS Stylesheet for the chat_nodejs module
 */

*:focus {
  outline: none !important;
}
/* IE6 Hack */
*html #chat {
  display: none;
}
#chat-wrapper {
  bottom: 0;
  height: 29px;
  margin: 0 1%;
  position: fixed;
  right: 0;
  z-index: 9999; /*--Keeps the panel on top of all other elements--*/
}
#chat-wrapper *,
#chat-wrapper *:before,
#chat-wrapper *:after {
  -webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
          box-sizing: content-box;
}
#chat {
  border-bottom: none;
  float: left;
  font-family: Arial, sans-serif;
}
#chat a {
  border-bottom: none;
}
#chat ul {
  float: right;
  list-style: none;
  margin: 0;
  padding: 0;
  width: auto;
}
#chat ul li {
  background: #e5e5e5;
  float: left;
  margin: 0;
  padding: 0;
  position: relative;
  list-style: none;
  margin-right: 10px;
  border-top: 1px solid #b5b5b5;
}
#chat ul li.last a {
  border-right: none;
}
#chat ul li a {
  border-left: 1px solid #b5b5b5;
  border-right: 1px solid #b5b5b5;
  color: #333;
  float: left;
  height: 16px;
  line-height: 16px;
  padding: 6px;
  position: relative;
  text-decoration: none;
  width: auto;
}
#chat ul li a.name {
	border-left: unset !important;
	border-right: unset !important;
	cursor: default;
	padding-left: 0;
	overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 120px;
}
#chat ul li a.name:hover {
	text-decoration:none;
}
#chat ul li a.active { /*--Active state when sub-panel is open--*/
  background: #fff url(images/subpanel_bar.png) repeat-x center 1px;
  border-top: none;
  height: 18px;
  margin-top: -2px; /*--Push it up 2px to attach the active button to sub-panel--*/
  position: relative;
  z-index: 200; /*--Keeps the active link on top of the sub-panel--*/
}
#chat ul li a.active span.subpanel_title_text {
	float: left;
	margin-top: 2px;
}
#chat img.icon {
	float: left;
	margin-right: 6px;
	padding: 0;
}
#chat ul li a.chat {
	width: 188px;
	border-right: 1px solid #b5b5b5;
	background: #222;
	color: #fff;
	font-weight: bold;
	font-size: 13px;
}
#chatpanel a.chat.subpanel_toggle {
    cursor: unset;
	text-align: center;
}
#chat ul li div a:not(.name) { /*--Reset link style for sub-panel links--*/
  color: #222;
  float: none;
  height: auto;
  padding: 0;
  position: static;
  width: auto;
}
#chat ul li div a:hover {
  text-decoration: underline;
}
#chat .subpanel {
  border: 1px solid #b5b5b5;
  border-radius: 5px 5px 0 0;
  bottom: 29px;
  left: 0;
  overflow: hidden;
  position: absolute;
  width: 150px;
}
#chat #chatpanel .subpanel {
  width: 200px;
}
#chat .chatbox .subpanel {
  width: 239px;
}

/* Subpanel title */
#chat .subpanel_title {
  background: #222;
  color: #fff;
  font-weight: bold;
  padding: 3px 4px 3px 8px;
  font-size: 13px;
}
#chat .subpanel_title.unactive {
	border-radius: 5px 5px 0 0;
	height: 28px;
	padding-top: 5px;
}
#chat .subpanel_title div.status-0{
  display: block;
  float: left;
  background: url(images/offline.png) no-repeat 100% center;
  height: 9px;
  width: 9px;
  overflow: hidden;
  margin-top: 5px;
  margin-right: 6px;
}
#chat .subpanel_title div.status-1{
    display: block;
    float: left;
    background: url(images/online.png) no-repeat 100% center;
    height: 9px;
    width: 9px;
    overflow: hidden;
    margin-top: 5px;
    margin-right: 6px;
}
#chat .subpanel_title div.status-2{
    display: block;
    float: left;
    background: url(images/busy.png) no-repeat 100% center;
    height: 9px;
    width: 9px;
    overflow: hidden;
    margin-top: 5px;
    margin-right: 6px;
}
#chat .subpanel_title span {
  filter: alpha(opacity=100); /* For IE */
  opacity: 1;
  -moz-opacity: 1;
  font-size: 22px;
  font-weight: normal;
  float: right;
  line-height: 0;
  padding: 9px 4px 0 4px;
  cursor: pointer;
}
#chat-chat-options-s span.glyphicon.glyph-volume-off {
  background: url(images/volume-off.svg) no-repeat center;
  width: 15px;
  height: 15px;
}
#chat-chat-options-s span.glyphicon.glyph-volume-up {
  background: url(images/volume-up.svg) no-repeat center;
  width: 15px;
  height: 15px;
}
#chat .subpanel_title i.glyph-pencil {
  background: url(images/pencil.svg) no-repeat center;
  position: relative;
  width: 10px;
  height: 10px;
  padding: 8px;
  margin-right: 5px;
}
#chat .subpanel_title span.glyph-caret-up {
  background: url(images/caret-up.svg) no-repeat center;
  position: relative;
  padding-top: 15px;
  width: 10px;
  height: 10px;
}
#chat .subpanel_title span.glyph-caret-up:hover, #chat .subpanel_title span.glyph-caret-up:focus, #chat .subpanel_title span.glyph-caret-up:active {
  background: url(images/caret-up_hover.svg) no-repeat center;
}
span.options-own.glyphicon.glyph-opt-vert {
  background: url(images/option-vertical.svg) no-repeat center;
  position: relative;
  width: 10px;
  height: 10px;
}
#chat .subpanel_title span.glyph-cog {
  background: url(images/cog.svg) no-repeat center;
  position: relative;
  width: 6px;
  height: 6px;
  margin-top: 2px;
}
#chat .subpanel_title span.glyph-cog:hover, #chat .subpanel_title span.glyph-cog:focus, #chat .subpanel_title span.glyph-cog:active {
  background: url(images/cog_hover.svg) no-repeat center;
}
#chat .subpanel_title span.glyph-cog span.clicked, #chat .options-own span.clicked {
    position: absolute;
    width: 10px;
    height: 10px;
    top: 0;
    left: 0;
}
#chat .options-own span.clicked {
	height: 15px;
}
#chat .subpanel_title span.min {
	padding: 5px 4px 0 4px;
}
#chat .subpanel_title:hover span.min {
  filter: alpha(opacity=75); /* For IE */
  opacity: 0.75;
  -moz-opacity: 0.75;
}
#chat .subpanel_title span:hover {
  filter: alpha(opacity=75); /* For IE */
  opacity: 0.75;
  -moz-opacity: 0.75;
  color: #ffd302;
}
#chat .subpanel ul {
  background: #fff;
  border: none;
  margin: 0;
  overflow-y: auto;
  width: 100%;
  max-height: 200px;
}
#chat .subpanel li {
  background: #fff;
  clear: both;
  display: block;
  float: none; /*--Reset float--*/
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: static;  /*--Reset relative positioning--*/
}
#chat .subpanel li:hover {
  background: #EEE;
    cursor: pointer;
}
#chat .subpanel li a span {
  float: left;
  margin: 0 8px;
  padding-left: 20px;
}
#chat .subpanel li a {
	border: none;
	display: block;
	font-weight: normal;
	height: 22px;
	line-height: 29px;
	margin: 0;
	padding: 3px 0 3px 8px;
}
#chat .subpanel li a:hover {
	background: transparent;
	text-decoration: none;
}
#chat .subpanel li.status-0 a {
    background: url(images/offline.png) no-repeat 95% center;
}
#chat .subpanel li.status-1 a {
	background: url(images/online.png) no-repeat 95% center;
}
#chat .subpanel li.status-2 a {
	background: url(images/busy.png) no-repeat 95% center;
}
#chat .subpanel li.chat_loading a {
    background: url(images/loading.gif) no-repeat 95% center;
}
#chat .subpanel li.link a {
  padding-left: 8px;
}
#chat ul li a.chatboxhead {
	padding: 6px 18px 6px 8px;
	width: 213px;
	background: #222;
	color: #fff;
	font-weight: bold;
	font-size: 13px;
}
/* Chat options */
#chat .subpanel .chat_options {
	border-bottom: 1px solid #b5b5b5;
	border-top: 1px solid #b5b5b5;
	overflow: hidden;
	position: relative;
    background-color: #222;
    font-weight: bold;
    padding: 3px 4px 3px 8px;
    font-size: 13px;
}
#chat .subpanel .chat_options a.name {
    color: #fff;
}
#chat .subpanel .chat_options a:not(.name) {
	border-left: none;
	border-right: none;
	color: #333;
	float: left;
	padding: 3px 8px 3px 19px;
}
#chat .subpanel .chat_options  a.status {
    float: right !important;
	cursor: default;
	position: absolute;
	right: 16px;
	top: 50%;
	transform: translateY(-50%);
	height: 5px;
}
#chat .subpanel .chat_options a.status-1 {
  background: url(images/online.png) no-repeat 45% center;
}
#chat .subpanel .chat_options a.status-2 {
  background: url(images/busy.png) no-repeat 45% center;
}
#chat .subpanel .chat_options a.chat_loading {
	background: url(images/loading.gif) no-repeat 45% center;
}

/* Chatbox */
.chatbox {
  display: none;
  position: absolute;
  z-index: 9999;
}
.chatboxcontent {
  background-color: #fff;
  color: #fff;
  height: 200px;
  overflow-y: hidden;
  overflow-x: hidden;
  padding: 7px;
}
.chatboxinput {
  background-color: #fff;
  border-top: 1px solid #b5b5b5;
  padding: 5px;
}
.chat_userOffline {
  background-color: #fff;
  color: #C00;
  font-size: 11px;
  height: 15px;
  width: 239px;
  display: none;
  text-align: center;
  border-top-color: #EEE;
  border-top-style: solid;
  border-top-width: 1px;
}
.chatboxtextarea {
  border: 1px solid #b5b5b5;
  height: 44px;
  margin: 0;
  padding: 0;
  overflow: hidden;
  resize: none;
  width: 226px;
}
.chatboxtextareaselected {
  border: 1px solid #b5b5b5;
  width: 226px;
}
.chatboxusername {
  font-size: 13px;
  margin-top: 3px;
  margin-bottom: 10px;
  border-top: 1px solid #EDEDED;
  padding-top: 3px;
  width: 215px;
}
.chatboxusername a {
	border: none !important;
	font-weight: bold;
}
.chatboxusername a:hover {
	color: #333 !important;
}
.chatboxtime {
  color: #777;
  float: right;
  font-size: 9px;
  font-weight: normal;
  margin-right: 5px;
}
.chatboxcontent p {
	position: relative;
	clear: both;
	color: #222;
	font-size: 13px;
	line-height: 21px;
	margin: 0 4px 4px 30px;
	text-align: left;
	width: 185px;
    word-break: break-all;
}
#chat .chatboxcontent p a {
  border: none !important;
  color: #00e; !important;
}
#chat .chatnousers {
  display: block !important;
  font-weight: normal !important;
  height: 22px !important;
  line-height: 22px !important;
  margin: 0 !important;
  padding: 3px 0 3px 8px !important;
  color: #222 !important;
  cursor: pointer;
}
#chat .chatboxuserpicture {
  float: left;
  padding-right: 5px;
}
#chat .chatboxuserpicture img, #chat .subpanel .item-list ul img, #chat .chat_options img {
	margin:0 8px 0 3px;
	padding:2px;
	float:left;
	height:24px;
	width:24px;
	border-radius: 50%;
}
#chat .subpanel .item-list ul img {
    cursor: zoom-in;
}
#chat .emojionepicker .tab span {
    margin-right: auto;
    margin-left: auto;
}
#chat .emojionepicker section {
    margin: 5px;
}
#chat .emojionepicker section span {
    margin: .5em !important;
}
#chat .emojionepicker section span:hover {
}
#chat .send-button {
	display: block;
    position: absolute;
    z-index: 200;
	color: #fff;
    font-weight: bold;
    font-size: 12px;
    padding: 0 5px;
	right: 5px;
    top: 50%;
    transform: translateY(-50%);
}
#chat .send-button:hover, #chat .options-own:hover {
	cursor: pointer;
  color: #ffd302;
}
#chat .send-button span.glyph-send {
  background: url(images/send.svg) no-repeat center;
  position: absolute;
  top: 0;
  left: -15px;
  width: 15px;
  height: 15px;
}
#chat .send-button span.glyph-send:hover, #chat .send-button:hover span.glyph-send, #chat .send-button span.glyph-send:active, #chat .send-button:active span.glyph-send, #chat .send-button span.glyph-send:focus, #chat .send-button:focus span.glyph-send {
  background: url(images/send_hover.svg) no-repeat center;
}
#chat .options-own:hover {
	color: #808080 !important;
}
#chat .options-own {
	position: absolute;
	left: -20px; top: 50%;
	transform: translateY(-50%);
	color: #b5b5b5;
	font-weight: normal;
	font-size: small;
}
.chatboxcontent p.deleted {
  color: #ccc;
}
#call-messenger .close-open-wrapper span.glyph-chat {
  background: url(images/chat_closed.svg) no-repeat center;
  position: absolute;
  width: 50px;
  height: 50px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
#call-messenger .close-open-wrapper span.glyph-chat:hover {
  background: url(images/chat_closed_hover.svg) no-repeat center;
  cursor: pointer;
}
#call-messenger .close-open-wrapper {
  background-color: white;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  opacity: 50%;
}
