<div id="chat-wrapper" style="{{ chat_nodejs.chat_state[0] }}">
  <div id="chat">
    {{ chat_nodejs | without( 'sound' ) }}
    <div id="tooltip_content" style="display:none;">
      <span>Settings</span>
      <span class="to-close" title="Close">x</span>
      <ul>
        <li class="hr"><hr /></li>
        <li class="chat_options status-1"><a>Online</a></li>
        <li class="chat_options status-2"><a>Busy</a></li>
        <li class="hr"><hr /></li>
        <li id="chat-chat-options-s">{{ chat_nodejs.sound | raw }}</li>
      </ul>
    </div>
  </div>
</div>
<div id="call-messenger" class="toggle-tooltip" title="Open chat" style="position:fixed !important;width:100px;height:80px;bottom:10px;right:10px;z-index:100;{{ chat_nodejs.chat_state[1] }}">
  <div style="position:relative;display:block;padding:0;height:80px;width:80px;border-left:10px solid transparent;border-right:10px solid transparent;border-bottom:20px solid transparent;box-sizing:border-box;margin:0 auto;">
    <div class="close-open-wrapper">
      <span class="glyphicon glyph-chat"></span>
    </div>
  </div>
</div>
