<a class="{{ subpanel.name }} subpanel_toggle">
  <span class="subpanel_title_text">
    {% if subpanel.text is defined %}
      {{ subpanel.text|raw }}
    {% endif %}
  </span>
</a>
<div class="subpanel">
  {% if subpanel.header is defined %}
    <div class="subpanel_title">
      <i class="glyph-pencil glyphicon"></i>
        {{ subpanel.header|raw }}
      <span class="chat-close to-close" title="Close" style="padding:0;">
        <span class="clicked">x</span>
      </span>
      <span class="options glyph-cog glyphicon" title="Settings">
        <span class="clicked"></span>
      </span>
    </div>
  {% endif %}
  {% if subpanel.contents is defined %}
    {{ subpanel.contents|raw }}
    {% if subpanel.footer is defined %}
      {{ subpanel.footer|raw }}
    {% endif %}
  {% endif %}
</div>
